<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="relational/one2Many/db.properties"></properties>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}" />
				<property name="url" value="${db.url}" />
				<property name="username" value="${db.username}" />
				<property name="password" value="${db.password}" />
			</dataSource>
		</environment>
	</environments>

	<!--<mappers>-->
		<!--<package name="com.wyx.mybatis.api.relational.one2one.mapper" />-->
	<!--</mappers>-->

	<mappers>
		<mapper resource="relational/one2Many/One2ManyClazzMapper.xml" />
		<mapper resource="relational/one2Many/One2ManyStudentMapper.xml" />
	</mappers>
</configuration>